---

---

<header>
    <div class='header-content'>
        <h1 class='logo'>
            <span>b</span><span>u</span><span>n</span><span>b</span><span>u</span><span
                >~</span
            >
        </h1>
        <nav>
            <a
                href='#settings'
                class='modal-open icon-button settings-icon'
                aria-label='Settings'
                title='settings'></a>
            <a
                href='#help-modal'
                class='modal-open icon-button help-icon'
                aria-label='About bunbu'
                title='about bunbu'></a>
            <a
                href='https://github.com/welpo/bunbu'
                target='_blank'
                class='icon-button github-icon'
                aria-label='GitHub repository'
                title='github repository'></a>
        </nav>
    </div>
</header>

<style>
    header {
        margin-top: var(--space-sm);
        margin-bottom: var(--space-md);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        background-color: var(--accent-color);
        padding: var(--space-sm) var(--space-xl);
        padding-right: var(--space-xl);
        padding-left: var(--space-xl);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 0;
        color: var(--light-text-color);
        font-size: var(--font-size-sm);
    }

    .logo span {
        font-family: var(--header-font);
    }

    span:nth-child(1) {
        color: #e8c060;
    }

    span:nth-child(2) {
        color: #e99178;
    }

    span:nth-child(3) {
        color: #64c3ae;
    }

    span:nth-child(4) {
        color: #dc6b6b;
    }

    span:nth-child(5) {
        color: #e99178;
    }

    span:nth-child(6) {
        position: relative;
        top: 5px;
        color: #e8c060;
    }

    .icon-button {
        display: inline-block;
        align-items: center;
        vertical-align: text-bottom;
        margin-left: var(--space-sm);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: var(--light-text-color);
        aspect-ratio: 1/1;
        width: var(--icon-size);
        height: var(--icon-size);
    }

    .icon-button:hover {
        background-color: var(--border-color);
    }

    .settings-icon {
        -webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='matrix(7.797691822052002, 0, 0, 7.797691822052002, -139.8845977783203, -139.8845977783203)' style=''%3E%3Cg transform='translate(18.000000, 18.000000)' fill='%23000000'%3E%3Cpath d='M52,40 L52,44 L56,44 L56,52 L52,52 L52,56 L44,56 L44,52 L40,52 L40,60 L36,60 L36,64 L28,64 L28,60 L24,60 L24,52 L20,52 L20,56 L12,56 L12,52 L8,52 L8,44 L12,44 L12,40 L4,40 L4,36 L0,36 L0,28 L4,28 L4,24 L12,24 L12,20 L8,20 L8,12 L12,12 L12,8 L20,8 L20,12 L24,12 L24,4 L28,4 L28,0 L36,0 L36,4 L40,4 L40,12 L44,12 L44,8 L52,8 L52,12 L56,12 L56,20 L52,20 L52,24 L60,24 L60,28 L64,28 L64,36 L60,36 L60,40 L52,40 Z M36,20 L28,20 L28,24 L24,24 L24,28 L20,28 L20,36 L24,36 L24,40 L28,40 L28,44 L36,44 L36,40 L40,40 L40,36 L44,36 L44,28 L40,28 L40,24 L36,24 L36,20 Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .help-icon {
        -webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='396.403 86.286 396.403 69.061 396.403 51.829 379.18 51.829 361.956 51.829 361.956 34.611 361.956 17.38 344.729 17.38 327.506 17.38 327.506 0.156 310.282 0.156 293.056 0.156 275.832 0.156 258.61 0.156 241.387 0.156 224.16 0.156 206.851 0.156 189.627 0.156 172.403 0.156 172.403 17.38 155.179 17.38 137.953 17.38 137.953 34.611 137.953 51.829 120.729 51.829 103.506 51.829 103.506 69.061 103.506 86.286 86.281 86.286 69.057 86.286 69.057 103.502 69.057 120.732 69.057 137.95 69.057 155.175 69.057 172.407 69.057 189.715 69.057 206.939 69.057 224.164 86.281 224.164 103.506 224.164 120.729 224.164 120.729 241.388 120.729 258.612 137.953 258.612 155.179 258.612 172.403 258.612 172.403 224.164 155.179 224.164 155.179 206.939 155.179 189.715 155.179 172.407 155.179 155.175 155.179 137.95 155.179 120.732 155.179 103.502 172.403 103.502 172.403 86.286 189.627 86.286 206.851 86.286 224.16 86.286 241.387 86.286 258.61 86.286 275.832 86.286 293.056 86.286 310.282 86.286 310.282 103.502 327.506 103.502 327.506 120.732 327.506 137.95 327.506 155.175 327.506 172.407 327.506 189.715 327.506 206.939 327.506 224.164 310.282 224.164 310.282 241.388 310.282 258.612 293.056 258.612 275.832 258.612 275.832 275.836 275.832 293.061 258.61 293.061 241.387 293.061 224.16 293.061 224.16 310.285 224.16 327.509 224.16 344.734 224.16 361.958 224.16 379.182 241.387 379.182 258.61 379.182 275.832 379.182 293.056 379.182 293.056 361.958 293.056 344.734 293.056 327.509 293.056 310.285 310.282 310.285 327.506 310.285 344.729 310.285 344.729 293.061 344.729 275.836 361.956 275.836 379.18 275.836 379.18 258.612 379.18 241.388 396.403 241.388 413.629 241.388 413.629 224.164 413.629 206.939 430.943 206.939 430.943 189.715 430.943 172.407 430.943 155.175 430.943 137.95 430.943 120.732 430.943 103.502 430.943 86.286 413.629 86.286' style=''/%3E%3Cpolygon points='284.494 411.108 267.27 411.108 250.047 411.108 232.825 411.108 215.598 411.108 215.598 428.859 198.282 428.859 198.282 446.604 198.282 464.348 198.282 482.093 215.598 482.093 215.598 499.844 232.825 499.844 250.047 499.844 267.27 499.844 284.494 499.844 284.494 482.093 301.719 482.093 301.719 464.348 301.719 446.604 301.719 428.859 284.494 428.859'/%3E%3C/svg%3E");
    }

    .github-icon {
        -webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='23.996 8.728 23.996 15.272 22.905 15.272 22.905 17.453 21.815 17.453 21.815 19.634 20.724 19.634 20.724 20.724 19.634 20.724 19.634 21.815 18.543 21.815 18.543 22.905 16.363 22.905 16.363 23.996 15.272 23.996 15.272 18.543 14.181 18.543 14.181 17.453 15.272 17.453 15.272 16.363 17.453 16.363 17.453 15.272 18.543 15.272 18.543 14.181 19.634 14.181 19.634 8.728 18.543 8.728 18.543 5.458 16.363 5.458 16.363 6.548 15.272 6.548 15.272 7.638 14.181 7.638 14.181 6.548 9.82 6.548 9.82 7.638 8.728 7.638 8.728 6.548 7.638 6.548 7.638 5.458 5.458 5.458 5.458 8.728 4.367 8.728 4.367 14.181 5.458 14.181 5.458 15.272 6.548 15.272 6.548 16.363 8.728 16.363 8.728 18.543 6.548 18.543 6.548 17.453 5.458 17.453 5.458 16.363 3.277 16.363 3.277 17.453 4.367 17.453 4.367 19.634 5.458 19.634 5.458 20.724 8.728 20.724 8.728 23.996 7.638 23.996 7.638 22.905 5.458 22.905 5.458 21.815 4.367 21.815 4.367 20.724 3.277 20.724 3.277 19.634 2.187 19.634 2.187 17.453 1.095 17.453 1.095 15.272 0.005 15.272 0.005 8.728 1.095 8.728 1.095 6.548 2.187 6.548 2.187 4.367 3.277 4.367 3.277 3.277 4.367 3.277 4.367 2.187 6.548 2.187 6.548 1.095 8.728 1.095 8.728 0.005 15.272 0.005 15.272 1.095 17.453 1.095 17.453 2.187 19.634 2.187 19.634 3.277 20.724 3.277 20.724 4.367 21.815 4.367 21.815 6.548 22.905 6.548 22.905 8.728 23.996 8.728' style='' transform='matrix(1, 0, 0, 1, 2.220446049250313e-16, 0)'/%3E%3C/svg%3E");
    }
</style>
