name: Continuous Integration

on:
    pull_request:
    push:
        branches:
            - main

# cancel in-progress runs on new commits
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    check:
        name: Type check & Build
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Check formatting
              run: npx prettier --check --ignore-unknown .

            - name: Build
              run: npm run build
